.carousel-inner img {
    height: 550px;
    width: 1000px;
    }
.background {
    background-image: url('/images/Homepage/Picture1.jpg');
    background-repeat: repeat;
}
body{
    background-color: #EDEDED;

}
.btn {
    background-color: #A97E7E;
    color:black;
    border-color: #A97E7E;
}
.main-center {
    display: flex;
    align-items: center;
}
title {
    color: black;
    font-weight: bolder;
    background-color: #EDEDED;
    border-radius: 25px;
    margin-left: 300px;
    margin-right: 300px;
}
.titleh1 {
    text-align: center;
    color: black;
    font-weight: bolder;
    background-color: #EDEDED;
    border-radius: 25px;
    margin-left: 300px;
    margin-right: 300px;
}
.titleh4 {
    text-align: center;
    color: black;
    font-weight: bolder;
    background-color: #EDEDED;
    border-radius: 25px;
    margin-left: 350px;
    margin-right: 350px;
}
.titleh5 {
    text-align: center;
    color: black;
    font-weight: bolder;
    background-color: #EDEDED;
    border-radius: 25px;
    margin-left: 385px;
    margin-right: 385px;
}
.navbar {
    font-weight: bold;
    background-color: #ededed;
    margin-bottom: 2%;
    margin-top: 2%;
    height: 50px;
    position: sticky;
}
.nav-item {
    font-weight: bold;
}
.candle {
    border-radius: 25px;
    margin-left: 50px;
    margin-right: 50px;
} 
.carousel-align {
    margin-right: 300px;
    margin-left: 35px;
}
.about {
    text-align: center;
    background-color: #EDEDED;
    border-radius: 25px;
    font-weight: bolder;
    margin-right: 300px;
    padding-left: 40px;
    padding-right: 40px;
}
.about1 {
    text-align: center;
    font-weight: bolder;
    background-color: #ededed;
    margin-left: 300px;
    margin-right: 300px;
    border-radius: 25px;
}
.help {
        text-align: center;
        font-weight: bolder;
        background-color: #ededed;
        margin-left: 350px;
        margin-right: 40px;
        border-radius: 25px;
}
about3 {
    text-align: center;
    font-weight: bold;
    margin-left: 25px;
    margin-right: 25px;    
}   
 
.logo {
    width: 175px;
    height: 175px;
    border-radius: 75px;
}
.container-card {
    padding: 50px;
}
.card {
    background-color: #EDEDED;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 20px; /* Added */
    border: white;
    border-radius: 25px;
}
img {
    height: 300px;
    width: 300px;
    padding: 25px;
}
.prod-des-center {
    text-align: center;
    position: sticky;
    font-weight: bolder;
    border-radius: 25px;
    background-color: #EDEDED;
    padding: 30px;
    margin-left: 200px #EDEDED;
    margin-right: 200px #EDEDED;
    margin-bottom: 15px #EDEDED;
    background-color: #EDEDED;
}
hr {
    margin-left: 250px;
    margin-right: 250px;
    background-color:black;
    height: 1px;
}
a {
    color:black;
}