.carousel-inner img {
    height: 750px;
    width: 1500px;
    }
.background {
    background-image: url('/images/Homepage/Picture1.jpg');
    background-repeat: repeat;
}
#addcart {
    background-color: #e0908d;
    border-color: #e0908d;
}
#submit {
    background-color: #e0908d;
}
.main-center {
    display: flex;
    align-items: center;
}
.titleh1 {
    text-align: center;
    color: black;
    font-weight: bolder;
    background-color: #EDEDED;
    border-radius: 25px;
    margin-left: 275px;
    margin-right: 275px;
    margin-bottom: 10px;
}
.titleh4 {
    text-align: center;
    color: black;
    font-weight: bolder;
    background-color: #EDEDED;
    border-radius: 25px;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 10px;
}
.titleh5 {
    text-align: center;
    color: black;
    font-weight: bolder;
    background-color: #EDEDED;
    border-radius: 25px;
    margin-left: 400px;
    margin-right: 400px;
}
.titleh6 {
    text-align: center;
    color: black;
    font-weight: bolder;
    background-color: #EDEDED;
    border-radius: 25px;
    margin-left: 475px;
    margin-right: 475px;
}
.navbar {
    font-weight: bold;
    background-color: #ededed;
    margin-bottom: 2%;
    margin-top: 2%;
    height: 50px;
}
.nav-item {
    font-weight: bold;
    text-align: right;
}
.candle {
    border-radius: 25px;
    margin-left: 50px;
    margin-right: 50px;
}
.about {
    text-align: center;
    background-color: #EDEDED;
    color: black;
    border-radius: 25px;
}
.help {
    text-align: center;
    background-color: #ededed;
    border-radius: 25px;
    padding: 15px;
}
h2{
    text-decoration: underline;
}   
.logo {
    width: 150px;
    height: 165px;
    border-radius: 85px;
}
.container-card {
    padding: 50px;
}
.card {
    background-color: #EDEDED;
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 20px; /* Added */
    border: white;
    border-radius: 25px;
}
img {
    height: 300px;
    width: 300px;
    padding: 25px;
}
.prod-des-center {
    text-align: center;
    position: sticky;
    font-weight: bolder;
    border-radius: 25px;
    background-color: #EDEDED;
    padding: 30px;
    margin-left: 200px #EDEDED;
    margin-right: 200px #EDEDED;
    margin-bottom: 15px #EDEDED;
    background-color: #EDEDED;
}
hr {
    margin-left: 250px;
    margin-right: 250px;
    background-color:black;
    height: 1px;
}
a {
    color: navy;
}
.soycandle {
    text-align: center;
    text-decoration: underline;
    font-weight: 500;
    font-size: 26px;
    background-color: #EDEDED;
    color: black;
    border-radius: 25px;
    margin-bottom: 10px;
    margin-left: 450px;
    margin-right: 450px;
    padding-bottom: 0;
    padding-top: 7px;
}
.soydescription {
    text-align: center;
    font-weight: 400;
    background-color: #EDEDED;
    color: black;
    border-radius: 25px;
    margin-left: 150px;
    margin-right: 150px;
}
#sign {
    padding-bottom: 10px;
}
